<% @semantria_results.each do |data| %>
  <div>
    <% if data['source_text'] %>
      <%= data['source_text'] %><br>
      Sentiment polarity: <b><%= data['sentiment_polarity'] %></b><br><hr>
      <% content_for :positive do %>
        <% if is_positive?(data) %>
        <%= is_positive?(data) %><br><br>
        <% end %>  
      <% end %>
    <% end %>
  </div>
<% end %>
