
<html>
  <a href="/">[ Home ]</a>
  <a href="/new">[ New Post ]</a>
  <title>The ultimate microblog</title>
  <body><br>
<blockquote>
<pre>
<small>
      ___                       ___           ___           ___                                                ___           ___     
     /__/\        ___          /  /\         /  /\         /  /\                  _____                       /  /\         /  /\    
    |  |::\      /  /\        /  /:/        /  /::\       /  /::\                /  /::\                     /  /::\       /  /:/_   
    |  |:|:\    /  /:/       /  /:/        /  /:/\:\     /  /:/\:\              /  /:/\:\    ___     ___    /  /:/\:\     /  /:/ /\  
  __|__|:|\:\  /__/::\      /  /:/  ___   /  /:/~/:/    /  /:/  \:\            /  /:/~/::\  /__/\   /  /\  /  /:/  \:\   /  /:/_/::\ 
 /__/::::| \:\ \__\/\:\__  /__/:/  /  /\ /__/:/ /:/___ /__/:/ \__\:\          /__/:/ /:/\:| \  \:\ /  /:/ /__/:/ \__\:\ /__/:/__\/\:\
 \  \:\~~\__\/    \  \:\/\ \  \:\ /  /:/ \  \:\/:::::/ \  \:\ /  /:/          \  \:\/:/~/:/  \  \:\  /:/  \  \:\ /  /:/ \  \:\ /~~/:/
  \  \:\           \__\::/  \  \:\  /:/   \  \::/~~~~   \  \:\  /:/            \  \::/ /:/    \  \:\/:/    \  \:\  /:/   \  \:\  /:/ 
   \  \:\          /__/:/    \  \:\/:/     \  \:\        \  \:\/:/              \  \:\/:/      \  \::/      \  \:\/:/     \  \:\/:/  
    \  \:\         \__\/      \  \::/       \  \:\        \  \::/                \  \::/        \__\/        \  \::/       \  \::/   
     \__\/                     \__\/         \__\/         \__\/                  \__\/                       \__\/         \__\/    
</small><br/>
</pre></blockquote>
<br><%= yield %><br>
<br></body>
</html>                                    
