<html><title>The ultimate microblog</title>
<head>Menu: </head>
<a href="/">[ Home ]</a>
<a href="/new">[ New Post ]</a>

<h2>This is a single post No: <%= "#{id.to_i}" %></h2>
<% posts.execute( "SELECT * FROM myposts WHERE id=#{id.to_i}" ) do |row| %>
  <%= row[0] %>
  <%= row[1] %>
  <%= row[2] %>
<% end %>
</p></b></h1>
<form method="post">
<input type="submit" value="Delete this post">
<input type="hidden" name="_method" value="delete">
</form>
</html>
