<html><title>The ultimate microblog</title>
<head>Menu: </head>
<a href="/new">[ New Post ]</a>
<h2>List of all posts</h2>
<table>
<% posts.execute( "SELECT * FROM myposts" ) do |row| %><tr>
  <td><%= row[0] %></td>
  <td><%= row[1] %></td>
  <td><%= row[2] %></td></tr>
<% end %>
</table>
<br>
</html>
