body {
background-color:#22383a;
font-size:10pt;
font-family:Arial;
margin:0;
padding:0;
color:#FFFFFF;
}

#page {
width:900px;
background-image:url(page.png);
margin:auto;
padding:auto;
}

#header {
clear:both;
width:850px;
height:120px;
background-image:url(header.png);
padding-top:73px;
padding-left:50px;
}

#menulinks {
clear:both;
width:877px;
height:53px;
padding-left:23px;
background-image:url(menulinks.png);
}

#menulinks a {
	padding-left:15px;
	padding-right:15px;
	padding-top:15px;
	height:38px;
   background-image:none;
	display:block;
	color:#FFFFFF;
	text-decoration:none;
	float:left;
	font-size:14px;
	font-weight:bold;
	margin-right:3px;	
  }
  
#menulinks a:hover, #menulinks a.active {
	background-image:url(menuhover.png);
	background-position:top left;
	text-decoration:none;
	color:#FFFFFF;
}

#mainarea {
width:860px;
clear:both;
padding-left:40px;
}

#contentarea {
width:525px;
padding-right:30px;
float:left;
line-height:14pt;
padding-bottom:10px;
}

#sidebar {
float:left;
width:255px;
line-height:14pt;
}

#footer {
width:900px;
clear:both;
height:32px;
padding-top:20px;
text-align:center;
line-height:14pt;
background-image:url(footer.png);
background-repeat:no-repeat;
color:#FFFFFF;
}

#footer a {
color:#FFFFFF;
}

h1 {
font-size:30pt;
color:#FFFFFF;
margin:0;
}

h1 a {
color:#FFFFFF;
}

h2 {
font-size:12pt;
color:#FFFFCC;
padding-top:6px;
}

.description {
font-size:14pt;
color:#FFFFCC;
margin:0;
padding-left:10px;
}

a {
color:#FFFFCC;
text-decoration:none;
}

a:hover {
text-decoration:underline;
}
